.profile__name-work-box {
    display: flex;
    align-items: center;
    gap: 18px;
    align-items: flex-end;
    width: 336px;
}

@media screen and (max-width: 767px) {

    .profile__name-work-box {
        gap: 10px;
        transform: translateX(14px);
        z-index: -1;
    }

}