.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: black;
    border: 2px solid #FFFFFF;
    align-self: center;
    background-image: url(../../../images/add-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    cursor: pointer;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 767px) {

    .profile__add-button {
        margin: 0px;
        width: 282px;
        height: 50px;
        margin-top: 32px;
        background-size: 16px;
    }
}