.profile__info-edit {
    display: flex;
    max-width: 336px; 
    flex-direction: column;
}

@media screen and (max-width: 767px) {

    .profile__info-edit {
        justify-content: center;
        gap: 14px;
        flex-direction: column;
    }

}