.popup__close-button {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .0);
    background-image: url(../../../images/Close\ Icon.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    border: 0;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -32px;
    }
}