.profile__info-edit {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    /*position: relative;*/
}

@media screen and (max-width: 767px) {

    .profile__info-edit {
        justify-content: center;
        gap: 14px;
    }

}