.popup {
    margin: 0 auto;
    width: 880px;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 5;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup {
        width: 100%;
    }
}